.imgBox {
    width: 100%;
    overflow: hidden;
}

.homePageImg {
    width: 500%;
    animation: tupian 10s infinite;
}

@keyframes tupian {
    0% {margin-left: 0%;}
    16.6% {margin-left: 0%;}
    24.9% {margin-left: -100%;}
    41.5% {margin-left: -100%;}
    49.8% {margin-left: -200%;}
    66.4% {margin-left: -200%;}
    74.7% {margin-left: -300%;}
    91.3% {margin-left: -300%;}
    100% {margin-left: -400%;}
}

.homePageImg img {
    width: 20%;
    float: left;
}

.text {
    margin-top: 3%;
}

.text .nav {
    text-align: center;
    border-radius: 35%;
    background-color: rgba(249, 255, 71, 0.252);
}

.text .img {
    width: 40%;
    float: left;
}

.text .nav img {
    width: 30%;
}

.text .img img {
    margin-top: 5%;
    width: 100%;
    border-radius: 5%;
    float: left;
}

.text .textIn {
    margin-top: 6%;
    margin-left: 3%;
    margin-bottom: 6%;
    width: 57%;
    float: left;
}

.text .textIn2 {
    margin-top: 7%;
    margin-left: 2%;
    margin-bottom: 6%;
    width: 57%;
    float: left;
}

.text .right {
    margin-bottom: 2%;
}

.text .textIn3 {
    margin-top: 13%;
    margin-left: 2%;
    margin-bottom: 6%;
    width: 57%;
    float: left;
}

.text img {
    width: 100%;
}

.bottom {
    margin-left: -10%;
    width: 120%;
    text-align: center;
    background-color: rgb(209, 209, 209);
    float: left;
}

.bottom img {
    width: 40%;
    animation: bottom 1s infinite;
}

@keyframes bottom {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.1, 1.1);}
}