.padding {
    height: 50px;
}

.top {
    height: 470px;
    background-image: url(../images/lishizonglan/top_beijing.jpg);
}

.top .text {
    position: absolute;
    width: 500px;
    color: rgb(194, 194, 194);
    left: 360px;
    top: 170px;
    font-family: 仿宋;
    font-size: 18px;
}

.top .text span {
    font-size: 50px;
    font-family: 楷体;
    font-weight: 900;
    color: rgb(184, 112, 0);
}

.top .top_img {
    float: left;
    width: 424px;
    position: absolute;
    left: 887px;
    top: 91px;
}

.top .top_img img {
    width: 100%;
}

.top .top_img span {
    position: relative;
    top: 9px;
}

.middle {
    background-color: rgba(255, 255, 255, 0.388);
    border: 2px rgb(0, 0, 0) solid;
}

.middle h1 {
    color: rgb(255, 149, 0);
    font-weight: 900;
    font-family: 仿宋;
    line-height: 70px;
}

.middle h2 {
    font-weight: 900;
    font-family: 宋体;
    line-height: 70px;
    text-indent: 2em;
}

.middle p {
    font-size: 17px;
    font-weight: 700;
    font-family: 仿宋;
    line-height: 25px;
    text-indent: 2em;
    width: 75%;
}

.middle hr {
    width: 75%;
}

.side_img {
    width: 300px;
    position: absolute;
    left: 1090px;
    top: 550px;
}

.side_img div {
    margin-top: 200px;
    margin-left: 20%;
    width: 60%;
}

.side_img div .small {
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s;
}

.side_img div .small:hover {
    box-shadow: 7px 7px 10px rgb(77, 77, 77);
    border-radius: 0px;
    transform: scale(1.2, 1.2);
}

.side_img div .big1 {
    width: 450px;
    display: none;
    position: absolute;
    left: -480px;
    top: -140px;
    animation: jianbian 1.3s 1;
}

.side_img div .big2 {
    width: 450px;
    display: none;
    position: absolute;
    left: -480px;
    top: 250px;
    animation: jianbian 1.3s 1;
}

.side_img div .big3 {
    width: 450px;
    display: none;
    position: absolute;
    left: -480px;
    top: 630px;
    animation: jianbian 1.3s 1;
}

.side_img div .big4 {
    width: 450px;
    display: none;
    position: absolute;
    left: -480px;
    top: 1020px;
    animation: jianbian 1.3s 1;
}

@keyframes jianbian {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.side_img div:hover .big1,
.side_img div:hover .big2,
.side_img div:hover .big3,
.side_img div:hover .big4 {
    display: block;
}

.side_img div .big1 img,
.side_img div .big2 img,
.side_img div .big3 img,
.side_img div .big4 img {
    width: 100%;
}

.bottom {
    height: 70px;
}