body {
    background-size: 10%;
}

.padding {
    height: 65px;
}

.info {
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    height: 600px;
    border: 2px solid rgb(255, 136, 0);
    border-radius: 20px;
    background-color: #ffffffb8;
}

.head {
    text-align: center;
    color: rgb(255, 136, 0);
    margin-bottom: 20px;
}

.hr1 {
    width:100%;
    margin:0 auto 20px auto;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 136, 0, 0), rgba(255, 136, 0, 0.75), rgba(255, 136, 0, 0));
}

.info div {
    margin-left: 90px;
    margin-bottom: 15px;
    font-size: 25px;
}

.info .name input,
.info .password input,
.info .tel input {
    font-size: 18px;
    height: 35px;
    width: 300px;
    border: 1px solid rgb(226, 226, 226);
}

.info .name input:focus,
.info .password input:focus,
.info .tel input:focus {
    outline-style: none;
    border: 1px solid rgb(166, 166, 166);
}

#remark {
    resize: none;
    border: 1px solid rgb(226, 226, 226);
    color: rgb(74, 74, 74);
    font-size: 20px;
}

#remark:focus {
    outline-style: none;
    border: 1px solid rgb(166, 166, 166);
}

button {
    width: 180px;
    margin-left: 75px;
    height: 60px;
    border: 0;
    border-radius: 40px;
    font-size: 25px;
    font-family: 幼圆;
    font-weight: 900;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 222, 222);
}

button:hover {
    position: relative;
    left: -5px;
    top: -5px;
    color: #ffffff;
    background-color: rgb(240, 173, 148);
    box-shadow: 6px 6px 7px rgb(237, 198, 184);
}